[Desktop Entry]
Encoding=UTF-8
Name[am]=MX ድምፅ ይምረጡ
Name[ca]=MX Select Sound
Name[cs]=MX nastavení zvuků
Name[da]=MX Vælg lyd
Name[de]=MX-Soundkartenwahl
Name[el]=MX Επιλογή ήχου
Name[es]=MX Seleccionar Audio
Name[es_ES]=MX Selector de Sonido
Name[fi]=MX Äänen valinta
Name[fil_PH]=Select Sound ng MX
Name[fr]=MX Assistant carte son - MX Select Sound
Name[fr_BE]=MX Assistant carte son - MX Select Sound
Name[gl_ES]=MX Seleccionar tarxeta de son
Name[he_IL]=בחירת שמע MX
Name[hi]=MX ध्वनि चयन
Name[hu]=MX hangválasztó
Name[it]=MX Schede Audio
Name[ja]=MX サウンドカードの選択
Name[kk]=MX дыбысты таңдау қолданбасы
Name[lt]=MX pasirinkti garsą
Name[nb]=MX Velg lydkort
Name[nb_NO]=MX Velg lydkort
Name[nl]=MX Selecteer Geluid
Name[nl_BE]=MX Selecteer Geluid
Name[pl]=MX Karta dźwiękowa
Name[pt]=MX-Seleccionar Placa de Som
Name[pt_BR]=Selecionador de Placa de Som do MX
Name[ru]=MX Выбор звуковой карты
Name[sk]=MX Výber zvukov
Name[sl]=MX Izberi zvok
Name[sq]=Përzgjedhje Zëri MX
Name[sv]=MX Ljudkortsväljare
Name[tr]=MX Ses Seçimi
Name[zh_TW]=MX 選擇音效
Name=MX Select Sound
Comment[am]=የ ድምፅ ካርድ ይምረጡ ለ መጠቀም
Comment[ca]=Selecciona fàcilment la tarja de so per omissió
Comment[cs]=Nastavte zvukovou kartu
Comment[da]=Nem valg af standardlydkort
Comment[de]=Einfache Auswahl der Standard-Soundkarte
Comment[el]=Επιλογή βασικής κάρτας ήχου
Comment[es]=Seleccionar fácilmente la tarjeta de sonido por defecto
Comment[es_ES]=Selecciona fácilmente la tarjeta de sonido por defecto
Comment[fr]=Sélection facile d’une carte son par défaut
Comment[fr_BE]=Sélection facile d’une carte son par défaut
Comment[he_IL]=בחירת כרטיס השמע כברירת מחדל בקלות
Comment[hu]=Az alapértelmezett hangkártya kiválasztása könnyedén
Comment[it]=Seleziona facilmente la scheda audio di default
Comment[ja]=サウンドカードのデフォルト値を簡単に選択
Comment[lt]=Lengvai pasirinkti numatytąją garso plokštę
Comment[nb]=Velg hvilket lydkort som skal brukes
Comment[nl]=Eenvoudig een standaard geluidskaart selecteren
Comment[nl_BE]=Selecteer eenvoudig een standaard geluidskaart
Comment[pl]=Łatwy wybór domyślnej karty dźwiękowej
Comment[pt]=Pré-definir facilmente a placa de som a usar [mx-select-sound]
Comment[pt_BR]=Selecionar a placa de som para ser utilizada com o MX Select Sound
Comment[ru]=Простой выбор звуковой карты по умолчанию
Comment[sk]=Nastavenie zvykovej karty
Comment[sl]=Preprosto izbiranje privzete zvočne kartice
Comment[sq]=Përzgjidhni me lehtësi një kartë zëri parazgjedhje
Comment[sv]=Välj lätt standardljudkort
Comment[tr]=Kolayca bir varsayılan ses kartı seçin
Comment[zh_TW]=輕輕鬆鬆選擇預設的音效卡
Comment=Easily select a default sound card
Exec=mx-select-sound
Terminal=false
Type=Application
Icon=mx-select-sound
Categories=GNOME;GTK;System;MX-Setup
NoDisplay=false

