[Desktop Entry]
Encoding=UTF-8
Name=MX Select Sound
Name[ca]=MX Select Sound
Name[de]=MX Select Sound
Name[el]=MX Select Sound
Name[es]=MX Select Sound
Name[fr]=MX Select Sound
Name[it]=MX Select Sound
Name[ja]=MX Select Sound
Name[nl]=MX Select Sound
Name[sv]=MX Select Sound
Comment=
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[sv]=
Exec=mx-select-sound
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/mx/mx-select-sound.png
Categories=GNOME;GTK;System;
NoDisplay=false
