[Desktop Entry]
Encoding=UTF-8
Name=MX Select Sound
Name[ca]=MX Select Sound
Name[cs]=MX nastavení zvuků
Name[de]=MX Soundkartenwahl
Name[el]=MX Select Sound
Name[es]=MX Seleccionar Audio
Name[fr]=MX Sélection de la carte son
Name[it]=MX Schede Audio
Name[ja]=MX サウンドカードを選択します
Name[lt]=MX Pasirinkti garsą
Name[nl]=MX Selecteer Geluid
Name[pt]=MX_Seleccionador de Som
Name[ru]=MX Выбор звуковой карты
Name[sv]=MX Ljudkortsväljare
Comment=Easily select a default sound card
Comment[ca]=Selecciona fàcilment la tarja de so per omissió
Comment[cs]=Nastavte zvukovou kartu
Comment[de]=Einfach die Default-Soundkarte auswählen
Comment[el]=Επιλέξετε μια προεπιλεγμένη κάρτα ήχου
Comment[es]=Seleccionar fácilmente la tarjeta de sonido por defecto
Comment[fr]=Sélectionner facilement la carte son par défaut
Comment[it]=Seleziona facilmente la scheda audio di default
Comment[ja]=サウンドカードのデフォルト値を簡単に選択
Comment[lt]Lengvai pasirinkti numatytąją garso plokštę
Comment[nl]=Eenvoudig een standaard geluidskaart selecteren
Comment[pt]=Para escolha fácil duma placa de som pré-definida
Comment[ru]=Простой выбор звуковой карты по умолчанию
Comment[sv]=Välj lätt standardljudkort
Exec=mx-select-sound
Terminal=false
Type=Application
Icon=mx-select-sound
Categories=GNOME;GTK;System;MX-Setup
NoDisplay=false

